<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Photo</title>
    <link rel ="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>
        <h1>Éloïse</h1>
        <img src="static/eloise.jpg">
    </div>
    <div>
        <h1>Nala</h1>
        <img src="static/nala.JPG">
        <img src="static/nala cacher.JPG">
        <img src="static/nala qui boude.JPG">
        <img src="static/nala dans son amaque.JPG">
        <img src="static/nala sous mains.JPG">
        <img src="static/nala tapis.JPG">
    </div>
    <div>
        <h1>Chien</h1>
        <img src="static/rambo.jpg">
        <img src="static/rambo.JPG">
        <img src="static/niki.JPG">
    </div>
    <div>
        <h1>Maman et vinvin</h1>
        <img src="static/maman tagada.JPG">
    </div>
    <div>
        <h1>Papy et Mamie</h1>
        <img src="static/papy.jpg">
        <img src="static/papy jardin.JPG">
        <img src="static/mamie.JPG">
        <img src="static/papy mamie.JPG">
    </div>
    <div>
        <h1>Photos groupe</h1>
        <img src="static/restarant.JPG">
    </div>
    <div>
        <h1>Anniversaires</h1>
        <img src="static/anniv eloise.JPG">
        <img src="static/anniv papy.JPG">
    </div>
</body>
</html>
